<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gastos Personales</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">

        <!-- Mantenimientos -->
        <div class="nav-section-title px-3 mt-3">Mantenimientos</div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="tiposgasto">
                <span class="oi oi-dollar" aria-hidden="true"></span> Tipos de Gasto
            </NavLink>
            <NavLink class="nav-link" href="fondosmonetarios">
                <span class="oi oi-dollar" aria-hidden="true"></span> Fondo Monetario
            </NavLink>
        </div>

        <!-- Movimientos -->
        <div class="nav-section-title px-3 mt-3">Movimientos</div>
        <br />
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="presupuestos">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Presupuesto por gasto
            </NavLink>
            <NavLink class="nav-link" href="registro-gastos">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Registro de gastos
            </NavLink>
            <NavLink class="nav-link" href="depositos">
                <span class="oi oi-arrow-thick-top" aria-hidden="true"></span> Depósitos
            </NavLink>
        </div>

        <!-- Consultas y Reportes -->
        <div class="nav-section-title px-3 mt-3">Consultas y Reportes</div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="consulta-movimientos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Movimientos
            </NavLink>
            <br />
            <NavLink class="nav-link" href="grafico-presupuesto">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Gráfico comparativo
            </NavLink>
        </div>

    </nav>
</div>